<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню проектов</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/api_project_list.css' %}">
</head>
<body>
    <h1>Добро пожаловать! Выберите проект</h1>
    <div class="projects-container" id="projects-container"></div>

    <!-- Модальное окно -->
    <div class="modal" id="modal">
        <div class="modal-content">
            <h2>Создать проект</h2>
            <input type="text" id="projectName" placeholder="Название проекта" required>
            <input type="text" id="projectSlug" placeholder="Слаг проекта" required>
            <button class="close" id="closeModalBtn">Отмена</button>
            <button class="create" id="createProjectBtn">Создать</button>
        </div>
    </div>
    <script src="{% static 'script/api_project_list.js' %}"></script>
</body>
</html>